logging:
  level:
    root: info
    win.doyto.query: debug

spring:
  jpa:
    generate-ddl: true
    show-sql: true
    open-in-view: false
    hibernate:
      use-new-id-generator-mappings: false
      naming:
        physical-strategy: org.hibernate.boot.model.naming.PhysicalNamingStrategyStandardImpl

  http:
    encoding:
      enabled: true
      charset: UTF-8
      force: true
